<div class="side-bar-header">
  <div class="header-name">
    <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="create-drawer">
      <%= link_to "新しい引き出しを作る", new_partition_path %>
  </div>
</div>

<%= form_with(url: root_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="drawers">
  <% @partitions.each do |partition| %>
    <div class="side-drawer">
      <div class="drawer-title">
        <%= link_to partition.title, partition_drawers_path(partition.id) %>
        <div class="message-date">
          <%= l partition.created_at %>
        </div>
      </div>
    </div>
   <% end %>
</div>