<div class='wrapper'>
  <div class='side-bar'>
    <%= render "side_bar" %>
  </div>

  <div class="drawer">
    <div class="drawer-header">
      <div class="left-header">
        <div class="header-title">
          <%= @partition.title %>
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
          <%= link_to "削除", partition_path(@partition), method: :delete %>
        </div>
      </div>
    </div>

    <div class="main-drawer">
      <%#= render partial: 'drawers/drawer' %>
      <div class="drawer">
        <div class="grid">
          <% @partition.images.each do |image| %>
            <%= image_tag image.variant(resize:'250x250'), class: 'message-image' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form">
      <div class="form-comment-up">
        <div class='form-comment'>
          <%= @partition.comment %>
        </div>
      </div>
    </div>
  </div>
</div>